<div class="row" style="margin: 1px;">
    <div class="col-12 col-xl-6">
        <div class="row">
            <div class="col-12 morepaddingleft">
                <h1>Pour les Podcast – Replay et VOD</h1>
            </div>
            <div class="col-12 morepaddingleft" style="padding-top: 3rem;text-align: center;">
                <p>
                    Mediashow permet au public une gestion de son temps d’écran
                    par listes de lecture et play list ce qui le libère des fils 
                    déroulant sans fins des plateformes. Les éditeurs peuvent choisir de 
                    monétiser leurs contenus délinéarisés par de la publicité décorrélée 
                    du moment média, pour ne plus imposer des insertions en pré-roll, 
                    mid ou post roll. les nouvelles générations supportant difficilement 
                    cette méthode  intrusive lors d’une expérience de contenus délinéarisés. 
                    Le Media PASS  individuel sert alors de gestionnaire des droits 
                    de visionnage, sans publicités.
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6 myflex">
        <img src="../../../../assets/mediapass.svg">
    </div>
</div>