<div class="row marginstart marginside center">
  <h1 class="mb-5 mb-lg-5 titre">Nos missions</h1>
  <div class="spacing-pc">
    <div class="col-12 col-lg-6 col-xl-3 block ">
      <app-mini-card-valeurs appNoImgColorInverse [appear]="'anim'" icon="nnn.png" class="beforeanim"
        title="Pour les internautes…"
        text="Mediashow est une plateforme d’accès rapide en 1 clic, sur une interface unique, comme l’ancien modèle du bouquet TV mais destiné aux nouveaux formats médias : TV délinéarisée, Podcast, VOD, Live shopping, et également aux anciens formats.">
      </app-mini-card-valeurs>
    </div>
    <div class="col-12 col-lg-6 col-xl-3 block ">
      <app-mini-card-valeurs appNoImgColorInverse [appear]="'anim'" class="beforeanim" icon="llll.png"
        title="Pour les producteurs et diffuseurs de contenu" text="Mediashow est à la fois une plateforme de monétisation par la publicité voulue et choisie,  et de promotion par une exposition forte à un carrefour d’audience dans un kiosque virtuel, avec une interface unique comme les grandes plateformes.
  ">
      </app-mini-card-valeurs>
    </div>
    <div class="col-12 col-lg-6 col-xl-3 block ">
      <app-mini-card-valeurs appNoImgColorInverse [appear]="'anim'" class="beforeanim" icon="ugggnknown.png"
        title="Pour les marques "
        text="Mediashow est un showroom de relations approfondies avec les marques par une attention à 100% sur leurs offres. Celles-ci pouvant exposer toutes leurs offres de communication du moment sur une page unique.">
      </app-mini-card-valeurs>
    </div>
  </div>
</div>
