<div class="box">
  <app-navbar></app-navbar>
  <div class="row" style="width: 100%; margin: 0; align-items: center;">
    <div class="col-12 col-sm-6 block">
      <h1 class="title">Monétiser les médias par la publicité Off Site </h1>
      <img src="../../../../assets/Group516.png" class="afterTitle">
      <p class="contentParagraph">
        La publicité digitale Off Site propose aux visiteurs d’un site d’un éditeur 
        de considérer volontairement des campagnes publicitaires et des 
        contenus de marques en dehors de ce  site pour ne pas y voir de publicité.
        <br><br>
        Ce modèle permet de valoriser les audiences dites «  non adressables » ou ayant mis en place des obstacles à la monétisation : bloqueurs de publicité, refus des cookies, navigateurs bloquant et autres.
      </p>
    </div>
    <div class="col-12 col-sm-6 block sideImage">
      <img src="../../../../assets/Group516.png">
    </div>
  </div>
</div>
