<div class="myflex">
  <h1>Êtes-vous prêt pour …</h1>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-6 col-xl-3 fit-content">
    <app-mini-card-blue [appear]="'anim'" class="beforeanim">
      Oser proposer une autre expérience utilisateur de la publicité : respectueuse, plaisante et volontaire
    </app-mini-card-blue>
  </div>
  <div class="col-12 col-sm-6 col-xl-3 fit-content">
    <app-mini-card-blue [appear]="'anim'" class="beforeanim">
      Proposez une efficacité publicitaire bien supérieure, avec du Feed back et une attention à 100% sur vos messages

    </app-mini-card-blue>
  </div>
  <div class="col-12 col-sm-6 col-xl-3 fit-content">
    <app-mini-card-blue [appear]="'anim'" class="beforeanim">
      Oser reconquérir les moyens financiers de produire des médias, contenus et services de qualité

    </app-mini-card-blue>
  </div>
  <div class="w-100"></div>
  <div class="col-12 col-sm-6 col-xl-3 fit-content">
    <app-mini-card-blue [appear]="'anim'" class="beforeanim">
      Penser à la publicité décorrélée des contenus pour offrir une expérience zen de vos interfaces
    </app-mini-card-blue>
  </div>
  <div class="col-12 col-sm-6 col-xl-3 fit-content">
    <app-mini-card-blue [appear]="'anim'" class="beforeanim">
      Proposer une vision en 1 clin d’œil sur un catalogue panoramique de vos contenus et sponsors
    </app-mini-card-blue>
  </div>
  <div class="col-12 col-sm-6 col-xl-3 fit-content">
    <app-mini-card-blue [appear]="'anim'" class="beforeanim">
      Essayer MEDIASHOW <br>
      Contactez-nous immédiatement, ou vous ne le ferez jamais
      hello@mediashow.fr

    </app-mini-card-blue>
  </div>
</div>
