<div class="row marginstart center" style="width: 95%; margin: auto;">
  <h1 class="mb-5 mb-lg-5 titre">Nos Valeurs</h1>
  <br><br>
  <div class="spacing-pc">
    <div class="col-12 col-lg-6 col-xl-2 block ">
      <app-mini-card [appear]="'anim'" class="beforeanim" icon="homme.svg" title="Spontanéité
" text="Nous cherchons à fait naître la joie, la fluidité, l'émerveillement  dans les parcours numériques en offrant de multiples choix de navigation et de contenus. ">
      </app-mini-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-2 block ">
      <app-mini-card [appear]="'anim'" class="beforeanim" icon="roue.svg" title="Efficacité" text="Obtenir le maximum de résultats avec le minimum d'efforts et de dépenses, telle est notre priorité aussi bien pour nos visiteurs que pour nos partenaires professionnels.
">
      </app-mini-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-2  block">
      <app-mini-card [appear]="'anim'" class="beforeanim" icon="dollar.svg" title="Adaptabilité
" text="Savoir changer rapidement, une qualité essentielle dans ce début de siècle très créatif, permettant des évolutions rapides et multiples, à la recherche de modèles plus satisfaisants.
">
      </app-mini-card>
    </div>
    <div class="col-12 col-lg-6 col-xl-2 block ">
      <app-mini-card [appear]="'anim'" class="beforeanim" icon="table.svg" title="Créativité" text="Notre ouverture et l’écoute de nos multiples contacts nous permettent d’imaginer, construire, mettre en œuvre et découvrir des solutions originales.
">
      </app-mini-card>
    </div>
  </div>
</div>
