<div class="row" id="kiosque">
  <div class="col-12 col-xl-6" id="main">
    <div class="row">
      <div class="col-12 morepaddingleft">
        <h1 class="titre">Un kiosque virtuel des médias Live, Print et délinéarisés
        </h1>
      </div>
      <div class="col-12 col-xl-6 myflex mobile">
        <img src="../../../../assets/image-removebg-preview3.png">
      </div>
      <div class="col-12 morepaddingleft" style="padding-top: 3rem;text-align: center;">
        <p>
          Mediashow propose, en plus  du showroom des marques, un showroom des médias pour découvrir en un clin d’œil 
          et accéder en un clic à de multiples contenus et divertissements, ce qui en fait un kiosque virtuel pour mobile et desktop. 
          <br><br>
          On y trouve des contenus TV et Radio, Podcast et Replay, presse, musique, cinéma, web, appli, jeux vidéo, etc.

        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-6 myflex pc">
    <img src="../../../../assets/image-removebg-preview3.png">
  </div>
</div>
