<div class="box">
  <div class="row">
    <div class="col-12 col-xl-6  pc">
      <img src="../../../../assets/Group511.png">
    </div>
    <div class="col-12 col-xl-6">
      <div class="row">
        <div class="col-12 ">
          <h3>Le principe des widgets
          </h3>
        </div>
        <div class="col-12 ">
          <p class="paragraphe">
            Les visiteurs d’un site sont invités à considérer volontairement, sur un autre onglet, des messages 
            de marques pour rémunérer le site qu’ils sont en train de visiter.
            Les éditeurs des sites, partenaires de Mediashow, intègrent des widgets, 
            Pop In et encarts, présentés uniquement aux audiences identifiées comme  « difficiles à monétiser » pour les valoriser malgré tout.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
