<div class="row marginstart center" style="width: 95%; margin: auto;">
  <h1 class="mb-3 mb-sm-5">Nos compétences </h1>
  <br><br>
  <div class="spacing-pc">
    <div class="col-12 col-sm-6 col-lg-3 block">
      <app-mini-card [appear]="'anim'" class="beforeanim" icon="lampe.svg" title="Attention Management" text="Nous savons guider l'attention d’une personne pour l'amener à l'observation, l'étude, le jugement, l'émerveillement devant un objet, une idée, une création, une marque, qu’elle n’aurait pas découverte par elle-même, sans cette aide.
    ">
      </app-mini-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 block">
      <app-mini-card [appear]="'anim'" class="beforeanim" icon="sablier.svg" title="Adtech"
        text="Nous utilisons les nouvelles technologies de la publicité digitale automatisée avec principalement l'Ad Serving qui regroupe les Adexchange, Trading Desk, SSP-DSP, Retargeter, Ad Verification, DMP, CMP et bien d’autres ...">
      </app-mini-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 block">
      <app-mini-card [appear]="'anim'" class="beforeanim" icon="group.svg" title="Monétisation" text="C’est notre capacité de transformer une production en une valeur monétaire, dans notre cas nous monétisons les productions des médias en échange d’une considérations volontaires de messages à visées commerciales.
    ">
      </app-mini-card>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 block">
      <app-mini-card [appear]="'anim'" class="beforeanim" icon="cerveau.svg" title="Médiatisation" text="Il s’agit de notre capacité à faire connaître une idée, un produit ou un service par l'utilisation de tous les médias  à disposition, en permettant un échange, un dialogue, puis en créant un écho puissant avec les réseaux sociaux.
    ">
      </app-mini-card>
    </div>
  </div>
</div>
