<div class="bloc" id="live">
  <div class="text">
    <h2 class="titre">
      Monétiser et amplifier les influenceurs 
    </h2>
    <img src="../../../../assets/Group456.png" alt="" class="mobile">
    <p>
      Mediashow permet aux marques et aux influenceurs-ses d’afficher leurs 
      contenus sociaux à visées commerciales sur un showroom publicitaire 
      pour leur donner une visibilité auprès d’audiences <br> beaucoup plus vastes, 
      ne faisant pas parties de leurs followers habituels. </p>
  </div>
  <img src="../../../../assets/Group456.png" alt="" class="pc">
</div>
