<h2 class="titre">Monétiser les sites d’information et de divertissement.
</h2>
<br><br><br>
<div class="block" id="editeur">
  <p class="text-block">Les éditeurs  de sites et d’applications numériques ne peuvent plus capter une part du marché publicitaire correspondant 
    à leur travail car ils ont été désintermédiés par les réseaux sociaux qui sont devenus les interfaces 
    d’accès et souvent de lecture de leurs contenus.
    <br><br>
    Pour leur permettre de reconquérir des parts de marché, Mediashow  propose un modèle publicitaire 
    décorrélé du nombre de visites, du nombre de pages vues et du temps passé sur les supports, 
    en présentant en très peu de temps et sur une seule page de nombreux formats : Post, Réels, 
    stories, vidéos d’influenceurs, brand Content, publicité de réseaux sociaux, vidéos, Display et mini-séries commerciales.
  </p>
  <img src="../../../../assets/p.png" alt="" class="image">
</div>
