:host {
  .text-block {
    background-color: #00889c;
    font-family: "Axiforma";
    color: #F9F9F9;
    font-weight: lighter;
    padding: 5%;
    width: 20%;
  }
}

.titre {
  font-size: 3rem;
}
//MOBILE
@media screen and (max-width: 767px) {
  :host {
    .titre {
      font-family: "Axiforma";
      font-style: normal;
      font-weight: 800;
      margin: auto;
      margin-bottom: 0px;
      font-size: 3rem;
      text-align: left;
      line-height: 2.8rem;
    }

    .image {
      display: none;
    }

    h2 {
      margin: 0px;
      margin-bottom: 0px;
    }
  }
}

//TABLETTE
@media screen and (max-width: 1023px) {
  :host {
    .titre {
      font-family: "Axiforma";
      font-style: normal;
      font-weight: 800;
      font-size: 1.75rem;
      align-content: center;
      display: flex;
      justify-content: center;
      line-height: 2.35rem;
      width: 95%;
      margin: auto;
    }

    .block {
      display: flex;
      flex-direction: column-reverse;
    }

    .image {
      margin-bottom: 5%;
    }
  }
}

//PC SHORT
@media screen and (min-width: 1024px) {
  :host {
    .image {
      width: 55%;
      height: auto;
      z-index: 3 !important;
      position: unset;
      padding: 0;
      margin: 0;
    }

    .block {
      display: flex;
      width: 100%;
      font-size: 0.9em;
      font-family: "Axiforma";
      padding: 0;
      margin: 0;
      align-content: center;
      align-items: center;
      justify-content: center;
    }

    .text-block {
      width: 50%;
      font-size: 20px;
      line-height: 29px;
      background-color: #00889c;
      font-family: "Axiforma";
      color: #F9F9F9;
      font-weight: lighter;
      margin: 0;
      padding: 5%;
      margin-right: -5%;
    }

    .titre {
      font-family: "Axiforma";
      font-style: normal;
      font-weight: 800;
      font-size: 3rem;
      align-content: center;
      display: flex;
      justify-content: center;
      line-height: 3.75rem;
      width: 90%;
      margin: auto;
    }
  }
}

// @media screen and (max-width: 1300px) {
//   .image {
//     width: 95%;
//   }

//   .block {
//     padding: 0;
//     margin: 0;
//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: center;
//     align-items: center;
//   }

//   .titre{
//     margin-bottom: 0;
//   }

//   .text-block {
//     width: 95%;
//     font-size: 0.9em;
//     background-color: #00889c;
//     color: white;
//     font-family: "Axiforma";
//     font-size: 1.13em;
//     position: unset;
//     text-align: justify;
//     margin: 0;
//     padding: 30px;
//     border-radius: 2px;
//   }
// }

// @media screen and (max-width: 767px) {
//   :host{
//     img {
//       display: none;
//     }
//   }
// }

// @media screen and (max-width: 750px) {
//   .text-block {
//     font-size: 1.13em;
//     position: relative;
//     text-align: justify;
//     margin: 0;
//     padding: 30px;
//     border-radius: 2px;
//   }

//   .block {
//     margin-left: auto;
//     margin-right: auto;
//     padding: 0;
//     width: 95%;
//     font-size: 0.9em;
//     font-family: "Axiforma";
//     margin-bottom: 92px;
//   }
// }
