/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.cdnfonts.com/css/axiforma');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    overflow-x: hidden;
}