
<div class="myflex">
    <h1>Que Faire ?</h1>
</div>
<div class="row justify-content-center block">
    <div class="col-12 col-sm-6 col-xl-3">
        <app-mini-card-blue
            [appear]="'anim'"
            class="beforeanim"
        >
          Que faire à l’ère des GAFA rois, qui accaparent facilement 70 % des investissements publicitaires numériques mondiaux ?
        </app-mini-card-blue>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
        <app-mini-card-blue
            [appear]="'anim'"
            class="beforeanim"
        >
          Quels sont vos projets pour faire émerger de nouveaux modèles médias plus équilibrés et porteurs d’une société plus libre et épanouie ?
        </app-mini-card-blue>
    </div>
    <div class="w-100"></div>
    <div class="col-12 col-sm-6 col-xl-3">
        <app-mini-card-blue
            [appear]="'anim'"
            class="beforeanim"
        >
          Les dépenses publicitaires dépasseront bientôt 1000 milliards de dollars. Ne pensez-vous pas qu’une part plus importante devrait vous revenir ou vous servir ?
        </app-mini-card-blue>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
        <app-mini-card-blue
            [appear]="'anim'"
            class="beforeanim"
        >
          Où cherchez-vous des solutions vraiment innovantes qui rééquilibreront les positions entre les plateformes, les adtech, les Médias , les agences et les marques  ?
        </app-mini-card-blue>
    </div>
</div>

