<body>
  <img src="./assets/JasonNyx.png" class="logo">
  <br><br><br><br><br><br>
  <div class="container">
    <div class="bloc" id="video">
      <div class="text">
        <h2 class="titre">
          La société mère de Mediashow
        </h2>
        <p class="paragraphe">
          Jason Nyx est la société mère de Mediashow, plateforme de monétisation des médias par le modèle de la publicité Off Site Volontaire.
          <br><br>
          Contact: hello [ at ] mediashow.fr
        </p>
        <button class="button" (click)="redirectToCorporateSite()"><span class="buttonText">Visiter notre site corporate</span></button>
        <img src="./assets/CircleAndComp.png" alt="" class="mobile">
      </div>
      <img src="./assets/CircleAndComp.png" alt="" class="cli pc">
    </div>
  </div>
</body>
